<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="">
        <p>Enter your username</p>
        <input type="text" name="username" id="">
        <p>Enter your password</p>
        <input type="password" name="password" id="">
    </form>
    <button class="btn btn-success">Login</button>
<a href="{% url 'signup' %}"><p>Havent Signup yet? Signup here!</p></a>        
  
</body>
</html>
