{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%include 'navbar.html' %}
    <button style="background-color: green;">Our Dishes</button>
    <div class="main">
        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

        <div class="child">
            <div class="circle">
                <img src="{%static 'images/food1.jpg' %}" alt="">
            </div>
            <h6>Burger</h6>
            <p>Juicy patty nestled in a soft bun, topped <br>with fresh veggies and savory sauce.</p>
            <p>Rs.250</p>
            <p>4.5 ratings</p>

        </div>

    </div>

</body>

</html>