<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <div class="form">
        <p>Enter your username</p>
        <input type="text" name="username" id="">
        <p>Enter your password</p>
        <input type="password" name="password" id="">
        <p>ReEnter your password</p>
        <input type="password" name="password" id="">
    </div>
</body>
</html>