{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h2>Select Your payment method</h2>
    <div class="col-md-2">
        <img src="{%static 'images/ime.webp'%}" alt="" style="height: 50px; width: 50px;">
        IME Pay
    </div>
    <div class="col-md-2">
        <img src="{%static 'images/esewa.png'%}" alt="" style="height: 50px; width: 50px;">
        Esewa

    </div>
    <div class="col-md-2">
        <img src="{%static 'images/khalti.webp'%}" alt="" style="height: 50px; width: 50px;">
        Khalti
    </div>

    <div class="col-md-2">
        <img src="{%static 'images/cashondelivery.webp'%}" alt="" style="height: 50px; width: 50px;">
        Cash on Delivery
    </div>
</body>
</html>