<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {%block content%}
    <div class="main d-inline-block" style="margin-left: 40%; margin-top: 200px;">
        <h1>Products</h1>
       <a href="{% url 'add' %}"> <button class="btn btn-primary">Add Food</button></a>
        <button class="btn btn-primary">Update Food</button>
        <button class="btn btn-primary">Delete Food</button>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock content%}
</body>
</html>